PORT=<Insert your port number here>
NODE_ENV=<Insert your environment here, e.g., development, production>
APP_NAME=<Insert your app name here>
APP_VERSION=<Insert your app version here>
DATABASE_URL=<Insert your database URL here, e.g., mysql://user:password@host:port/database>

JWT_ACCESS_SECRET=<Insert your JWT access secret here>
JWT_ACCESS_EXPIRES_IN=<Insert your JWT access token expiration time here, e.g., 15m for 15 minutes>
JWT_REFRESH_SECRET=<Insert your JWT refresh secret here>
JWT_REFRESH_EXPIRES_IN=<Insert your JWT refresh token expiration time here, e.g., 7d for 7 days>